/lib

/.idea
.vscode
.vscode/

/.github
/config
/docs
/src/appservice/config

/*.log
package-lock.json
yarn.lock
CONTRIBUTING.md
README.md
mx-tester.yml
package.json
releasing.md
tsconfig.json
tslint.json
